# Lista

In [1]:
lista_mercado = ["ovo", "farinha", "leite", "maças"]
lista_mercado

['ovo', 'farinha', 'leite', 'maças']

In [2]:
lista3 = ["ovos", 2.1, 3, True]
lista3

['ovos', 2.1, 3, True]

In [3]:
lista_mercado [1:3]

['farinha', 'leite']

In [4]:
item1 = lista_mercado[0]
item1

'ovo'

In [6]:
item1 = lista_mercado[0]
item2 = lista_mercado[1]
item3 = lista_mercado[2]
print(item1, item2, item3)

ovo farinha leite

In [8]:
lista_mercado[0] = "Chocolate"
lista_mercado

['Chocolate', 'farinha', 'leite', 'maças']

In [10]:
del lista_mercado [0]
lista_mercado

['leite', 'maças']

In [12]:
lista_a = [[1, 2, 3], [4, 5, 6], 8]
lista_a

[[1, 2, 3], [4, 5, 6], 8]

In [15]:
print(lista_a[1])
print(lista_a[1][2])

[4, 5, 6]
6

In [20]:
lista_numeros_1 = [1, 2, 3]
lista_numeros_2 = [4, 5, 6]
print(lista_numeros_1 + lista_numeros_2)

[1, 2, 3, 4, 5, 6]

In [21]:
lista_numeros_1[0] = lista_numeros_1[0] + 10
lista_numeros_1

[11, 2, 3]

In [22]:
10 in lista_numeros_1

False

In [23]:
11 in lista_numeros_1

True

In [24]:
len(lista_numeros_1)

3

In [25]:
min(lista_numeros_1)

2

In [26]:
max(lista_numeros_1)

11

In [28]:
lista_mercado.append("Chocolate")
lista_mercado

['leite', 'maças', 'Chocolate']

In [29]:
for i in lista_mercado:
    print(i)

leite
maças
Chocolate

In [30]:
nome = "Renata"
for i in nome:
    print(i)

R
e
n
a
t
a

In [35]:
print(lista_numeros_1)
for i in lista_numeros_1:
    a = i + 1
    print(a)

[11, 2, 3]
12
3
4

In [40]:
new_lista = []
old_lista = [1, 2, 5, 10]
for item in old_lista:
    new_lista.append(item)
    print(new_lista)

[1]
[1, 2]
[1, 2, 5]
[1, 2, 5, 10]

In [41]:
new_lista.extend([6, 7])
new_lista

[1, 2, 5, 10, 6, 7]

In [47]:
cidades = ['Recife', 'Manaus', 'Salvador']
print(cidades)

cidades.extend(['Fortaleza', 'Palmas'])
print(cidades)

cidades.insert(2, 110)
print(cidades)

cidades.remove(110)
print(cidades)

cidades.count("Recife")

['Recife', 'Manaus', 'Salvador']
['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']
['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']
['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

1

In [48]:
c = cidades.copy()
c

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [1]:
import pandas as pd

df = pd.DataFrame({'item' : ["Banana", "Pao", "Leite", "Chocolate"],
    'preco_real' : [5.2, 2, 5, 3.5]})
df

        item  preco_real
0     Banana         5.2
1        Pao         2.0
2      Leite         5.0
3  Chocolate         3.5

In [2]:
conversao = [5.3, 0.034, 5.1]

for item in conversao:
    preco_convertido = df["preco_real"]*item
    print(preco_convertido)

0    27.56
1    10.60
2    26.50
3    18.55
Name: preco_real, dtype: float64
0    0.1768
1    0.0680
2    0.1700
3    0.1190
Name: preco_real, dtype: float64
0    26.52
1    10.20
2    25.50
3    17.85
Name: preco_real, dtype: float64

## Dicionário

In [57]:
dict1 = {"chave1": "a", 2: 2.3}
dict1[2]

2.3

In [61]:
estudantes_dict = {"Mateus" : 24, "Fernanda" : 22, "Tamires" : 26, "Cristiano" : 25}
print(estudantes_dict)
len(estudantes_dict)

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

4

In [62]:
estudantes_dict["Mateus"]

24

In [65]:
print(estudantes_dict.keys())
print(estudantes_dict.values())

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])
dict_values([24, 22, 26, 25])

In [66]:
estudantes_dict["Pedro"] = 23
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [68]:
dict1["key1"] = 1
dict1

{'chave1': 'a', 2: 2.3, 'key1': 1}

In [69]:
dict1["key2"] = [1, 2, 3]
dict1

{'chave1': 'a', 2: 2.3, 'key1': 1, 'key2': [1, 2, 3]}

In [72]:
a = dict1["key2"]
print(a)
type(a)

[1, 2, 3]

list