# Module 5 - Week 4

In [1]:
lista = [10, 20, 30, 40]
for num in lista:
    print(num)

10
20
30
40

In [2]:
for i in range(1,11):
    for j in  range(1,11):
        print(i*j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [5]:
pessoa = { 'primeiro_nome': 'Ana', 'Sobrenome': 'Silva', 'Idade': 28, 'É_casada': True, 'Skill': ['Python', 'Matlab', 'Data Science']}
pessoa

{'primeiro_nome': 'Ana',
 'Sobrenome': 'Silva',
 'Idade': 28,
 'É_casada': True,
 'Skill': ['Python', 'Matlab', 'Data Science']}

In [7]:
for key in pessoa:
    if key == 'Skill':
        for skills in pessoa['Skill']:
            print(skills)

Python
Matlab
Data Science

In [10]:
for i in range(1, 11):
    print('Taboada de: ', i)
    count = 1
    while count < 11:
        print(i * count, end = ' ')
        count += 1
    print('\n')

Taboada de:  1
1 2 3 4 5 6 7 8 9 10

Taboada de:  2
2 4 6 8 10 12 14 16 18 20

Taboada de:  3
3 6 9 12 15 18 21 24 27 30

Taboada de:  4
4 8 12 16 20 24 28 32 36 40

Taboada de:  5
5 10 15 20 25 30 35 40 45 50

Taboada de:  6
6 12 18 24 30 36 42 48 54 60

Taboada de:  7
7 14 21 28 35 42 49 56 63 70

Taboada de:  8
8 16 24 32 40 48 56 64 72 80

Taboada de:  9
9 18 27 36 45 54 63 72 81 90

Taboada de:  10
10 20 30 40 50 60 70 80 90 100

In [12]:
nomes = ['Amy', 'Bela', 'Kate']

for nome in nomes:
    count = 0
    while count < 5:
        print(nome, end = ' ')
        count += 1
    print('\n')

Amy Amy Amy Amy Amy

Bela Bela Bela Bela Bela

Kate Kate Kate Kate Kate

In [13]:
primeiro = [3, 6, 9]
segundo = [30, 60, 90]
final = []

for i in primeiro:
    for j in segundo:
        final.append(i + j)
print(final)

[33, 63, 93, 36, 66, 96, 39, 69, 99]

In [15]:
primeira = [3, 6, 9]
segunda = [30, 60, 90]
final = []

final = [i + j for i in primeira for j in segunda]
print(final)

[33, 63, 93, 36, 66, 96, 39, 69, 99]

In [17]:
impar = [1, 3, 5, 7, 9]
par = [i + 1 for i in impar if i % 2 == 1]
print(impar)
print(par)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [28]:
numeros = [4, 2, 5, 7, 8]
for i, v in enumerate(numeros):
    print('Numeros [' , i, ']', v)

Numeros [ 0 ] 4
Numeros [ 1 ] 2
Numeros [ 2 ] 5
Numeros [ 3 ] 7
Numeros [ 4 ] 8

In [29]:
numeros = [1, 2, 4, 6, 9]
tamanho = len(numeros)
for i in range(tamanho):
    print('Indice:', i, ' ', 'Valor', numeros[i])

Indice: 0   Valor 1
Indice: 1   Valor 2
Indice: 2   Valor 4
Indice: 3   Valor 6
Indice: 4   Valor 9

In [33]:
linguagem = 'Python'
for letra in linguagem:
    print(letra)

P
y
t
h
o
n

In [35]:
linguagem = 'Python'
for i in range(len(linguagem)):
    print(linguagem[i])

P
y
t
h
o
n

In [36]:
tupla = (0, 1, 3, 5, 8)
for numero in tupla:
    print(numero)

0
1
3
5
8

In [38]:
count = 0
numero = 180
while numero >10:
    numero = numero / 3
    print(numero)
    count = count + 1
print('Número total de divisões: ', count)

60.0
20.0
6.666666666666667
Número total de divisões:  3

In [39]:
n = int(input('Coloque um número inteiro: '))

while n > 0:
    if n % 2 == 0:
        print(n, ' é um número par')
    else:
        print(n, ' é um número impar')
    n -= 1

9  é um número impar
8  é um número par
7  é um número impar
6  é um número par
5  é um número impar
4  é um número par
3  é um número impar
2  é um número par
1  é um número impar

In [42]:
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print(count, 'e saí')

0
1
2
3
4
5 e saí

In [43]:
count = 0
while count < 5:
    print(count)
    count += 1
    if count == 3:
        break

0
1
2

In [46]:
i = 10
while i >= 0:
    print(i, end = ' ')
    i -= 1

10 9 8 7 6 5 4 3 2 1 0

In [48]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end = ' ')
        j += 1
    i += 1
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [49]:
for i in range(1, 6):
    for j in range(1, 11):
        print(j, end = ' ')
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [50]:
nome = 'Alan'
i = 0
res = len(nome) - 1
while i <= res:
    print(nome[i])
    i += 1

A
l
a
n

In [51]:
numero = 0
for numero in range(10):
    numero += 1
    if numero == 5:
        break
    print('Número é: ' + str(numero))
    
print('Fora do loop')

Número é: 1
Número é: 2
Número é: 3
Número é: 4
Fora do loop

In [63]:
def nome_da_funcao(parametro1=2, parametro2=7):
    ''' inputs:
            número inteiro
            número inteiro
        output:
            variável a '''
    # Corpo da Função
    a = parametro1 + parametro2
    return a

In [65]:
b = nome_da_funcao(3, 5)
print(b)

8

In [66]:
def oi():
    print('Seja bem-vindo à aula')

In [67]:
oi()

Seja bem-vindo à aula

In [68]:
def somando_dois_numeros():
    numero1 = 5
    numero2 = 10
    total = numero1 + numero2
    print(total)

In [70]:
somando_dois_numeros()

15

In [71]:
def oi(nome):
    print('Olá, ', nome, '. Seja Bem-vindo(a) à aula de Python para DAta Science')

In [72]:
oi('Sara')

Olá,  Sara . Seja Bem-vindo(a) à aula de Python para DAta Science

In [73]:
def elevar_ao_quadrado(x):
    return x * x

In [74]:
elevar_ao_quadrado(647268)

418955863824

In [75]:
def area_circulo(r):
    PI = 3.14
    return PI * r ** 2

In [76]:
area_circulo(5)

78.5

In [77]:
def calculadora_idade(ano_corrente, ano_nascimento):
    idade = ano_corrente - ano_nascimento
    return idade

In [78]:
calculadora_idade(2023,1968)

55

In [79]:
def valor_absoluto(num):
    ''' Essa Função calcula o valor absoluto do número inserido '''
    
    if num >= 0:
        return num
    else:
        return -num

In [80]:
valor_absoluto(2)

2

In [81]:
valor_absoluto(-4)

4

In [82]:
def par(lista):
    num_par = []
    for n in lista:
        if n % 2 == 0:
            num_par.append(n)
    return num_par

In [83]:
lista1 = [2, 3, 46, 75, 82, 19]
print('Os número que são pares são: ', par(lista1))

Os número que são pares são:  [2, 46, 82]

In [86]:
def calculadora(num1, num2):
    soma = num1 + num2
    sub = num1 - num2
    divisao = num1 / num2
    multiplicacao = num1 * num2
    return soma, sub, divisao, multiplicacao

In [87]:
a,b,c,d, = calculadora(40,5)

In [88]:
print(a)

45

In [89]:
print(b)

35

In [90]:
print(c)

8.0

In [91]:
print(d)

200