# Laço For

In [1]:
nomes = ['Ana', 'Bruno', 'JOSE', 'MARIA', 'zEcA']
print(nomes)

['Ana', 'Bruno', 'JOSE', 'MARIA', 'zEcA']

In [3]:
for nome in nomes:
    print(nome.lower())

ana
bruno
jose
maria
zeca

In [4]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for num in range(1,11):
    print(num ** 2)

1
4
9
16
25
36
49
64
81
100

In [7]:
nomes = ['bruno', 'jose']
idades = [40,55]

lista_de_tuplas = zip(nomes, idades)
lista_de_tuplas

In [8]:
list(lista_de_tuplas)

[('bruno', 40), ('jose', 55)]

In [17]:
nomes = ['bruno', 'jose', 'maria', 'clarice', 'Ptolomeu']
idades = [40, 55, 44, 31, 77]

lista_de_tuplas = zip(nomes, idades)

for nome, idade in lista_de_tuplas:
    print(f'{nome} tem {idade} anos')

bruno tem 40 anos
jose tem 55 anos
maria tem 44 anos
clarice tem 31 anos
Ptolomeu tem 77 anos

In [18]:
for indice, idade in enumerate(idades):
    if idade > 50:
        print(f'Indice: {indice} contém idade maior que 50.')

Indice: 1 contém idade maior que 50.
Indice: 4 contém idade maior que 50.

# List Comprehension

In [19]:
nomes

['bruno', 'jose', 'maria', 'clarice', 'Ptolomeu']

In [21]:
nomes_com_ate_5_chars = [nome for nome in nomes if len(nome) <= 5]
print(nomes_com_ate_5_chars)

['bruno', 'jose', 'maria']

In [24]:
nomes_com_ate_5_chars =[]

for nome in nomes:
    if len(nome) <= 5:
        nomes_com_ate_5_chars.append(nome)
        
print(nomes_com_ate_5_chars)

['bruno', 'jose', 'maria']

In [25]:
[nome.upper() for nome in nomes]

['BRUNO', 'JOSE', 'MARIA', 'CLARICE', 'PTOLOMEU']

# Laço While

In [6]:
print('Inicio')

soma = 0

contagem = 0 

max_repeticoes = 1000

while soma < 100:
    soma += 5
    print(f'Soma = {soma}')

    contagem += 1
    if contagem > max_repeticoes:
        print(f'Maximo de interações {max_repeticoes} foi atingido.')
        print(f'soma é igual a {soma}')
        break
        
print('Fim')

Inicio
Soma = 5
Soma = 10
Soma = 15
Soma = 20
Soma = 25
Soma = 30
Soma = 35
Soma = 40
Soma = 45
Soma = 50
Soma = 55
Soma = 60
Soma = 65
Soma = 70
Soma = 75
Soma = 80
Soma = 85
Soma = 90
Soma = 95
Soma = 100
Fim

In [7]:
while condicao:
    try:
        # codigo
        # break
    except:
        # retornou erro
        # conta repeticoes para quebrar a condicao

IndentationError: expected an indented block after 'try' statement on line 2 (1860307631.py, line 5)